Dataset: https://www.kaggle.com/datasets/wyattowalsh/basketball

In [ ]:
!pip install kaggle
!pip install pysqlite3

import os
import sqlite3
import pandas as pd
import scripts.sql as sql

os.environ["KAGGLE_USERNAME"] = "..."
os.environ["KAGGLE_KEY"] = "..."

!kaggle datasets download -d wyattowalsh/basketball -p dataset
!unzip dataset/basketball.zip -d dataset

In [1]:
import scripts.sql as sql

sql_data_path = "dataset/nba.sqlite"
to_remove = [
    'game_summary',
    'line_score',
    'other_stats',
    'inactive_players',
    'officials'
    'play_by_play',
    'draft_combine_stats',
    'team_info_common'
]

sql.remove_tables(sql_data_path, to_remove)
print_output = sql.print_db_structure(sql_data_path, 2)

with open("structure/kaggle_data_structure.txt", "w") as file:
    file.write(print_output)

Table:
CREATE TABLE "game" (
"season_id" TEXT,
  "team_id_home" TEXT,
  "team_abbreviation_home" TEXT,
  "team_name_home" TEXT,
  "game_id" TEXT,
  "game_date" TIMESTAMP,
  "matchup_home" TEXT,
  "wl_home" TEXT,
  "min" INTEGER,
  "fgm_home" REAL,
  "fga_home" REAL,
  "fg_pct_home" REAL,
  "fg3m_home" REAL,
  "fg3a_home" REAL,
  "fg3_pct_home" REAL,
  "ftm_home" REAL,
  "fta_home" REAL,
  "ft_pct_home" REAL,
  "oreb_home" REAL,
  "dreb_home" REAL,
  "reb_home" REAL,
  "ast_home" REAL,
  "stl_home" REAL,
  "blk_home" REAL,
  "tov_home" REAL,
  "pf_home" REAL,
  "pts_home" REAL,
  "plus_minus_home" INTEGER,
  "video_available_home" INTEGER,
  "team_id_away" TEXT,
  "team_abbreviation_away" TEXT,
  "team_name_away" TEXT,
  "matchup_away" TEXT,
  "wl_away" TEXT,
  "fgm_away" REAL,
  "fga_away" REAL,
  "fg_pct_away" REAL,
  "fg3m_away" REAL,
  "fg3a_away" REAL,
  "fg3_pct_away" REAL,
  "ftm_away" REAL,
  "fta_away" REAL,
  "ft_pct_away" REAL,
  "oreb_away" REAL,
  "dreb_away" REAL,
  "reb_away" REAL,
  "ast_away" REAL,
  "stl_away" REAL,
  "blk_away" REAL,
  "tov_away" REAL,
  "pf_away" REAL,
  "pts_away" REAL,
  "plus_minus_away" INTEGER,
  "video_available_away" INTEGER,
  "season_type" TEXT
)
Examples:
('21989', '1610612753', 'ORL', 'Orlando Magic', '0028900567', '1990-01-30 00:00:00', 'ORL vs. IND', 'W', 240, 48.0, 89.0, 0.539, 0.0, 1.0, 0.0, 33.0, 38.0, 0.868, 12.0, 32.0, 44.0, 36.0, 9.0, 4.0, 11.0, 20.0, 129.0, 18, 0, '1610612754', 'IND', 'Indiana Pacers', 'IND @ ORL', 'L', 45.0, 96.0, 0.469, 8.0, 17.0, 0.471, 13.0, 16.0, 0.813, 13.0, 27.0, 40.0, 33.0, 5.0, 4.0, 17.0, 28.0, 111.0, -18, 0, 'Regular Season')
('22016', '1610612754', 'IND', 'Indiana Pacers', '0021600809', '2017-02-11 00:00:00', 'IND vs. MIL', 'L', 240, 35.0, 73.0, 0.479, 10.0, 22.0, 0.455, 20.0, 24.0, 0.833, 8.0, 28.0, 36.0, 19.0, 2.0, 6.0, 14.0, 25.0, 100.0, -16, 1, '1610612749', 'MIL', 'Milwaukee Bucks', 'MIL @ IND', 'W', 35.0, 73.0, 0.479, 17.0, 31.0, 0.548, 29.0, 37.0, 0.784, 8.0, 29.0, 37.0, 28.0, 7.0, 6.0, 7.0, 18.0, 116.0, 16, 1, 'Regular Season')

Table:
CREATE TABLE "officials" (
"game_id" TEXT,
  "official_id" TEXT,
  "first_name" TEXT,
  "last_name" TEXT,
  "jersey_num" TEXT
)
Examples:
('0021800905', '202053', 'Scott', 'Twardoski', '52')
('0021300446', '101283', 'Brian', 'Forte', '45')

Table:
CREATE TABLE "game_info" (
"game_id" TEXT,
  "game_date" TIMESTAMP,
  "attendance" INTEGER,
  "game_time" TEXT
)
Examples:
('0021000356', '2010-12-13 00:00:00', 21287, '2:05')
('0020800481', '2009-01-02 00:00:00', 11921, '2:25')

Table:
CREATE TABLE "play_by_play" (
"game_id" TEXT,
  "eventnum" INTEGER,
  "eventmsgtype" INTEGER,
  "eventmsgactiontype" INTEGER,
  "period" INTEGER,
  "wctimestring" TEXT,
  "pctimestring" TEXT,
  "homedescription" TEXT,
  "neutraldescription" TEXT,
  "visitordescription" TEXT,
  "score" TEXT,
  "scoremargin" TEXT,
  "person1type" REAL,
  "player1_id" TEXT,
  "player1_name" TEXT,
  "player1_team_id" TEXT,
  "player1_team_city" TEXT,
  "player1_team_nickname" TEXT,
  "player1_team_abbreviation" TEXT,
  "person2type" REAL,
  "player2_id" TEXT,
  "player2_name" TEXT,
  "player2_team_id" TEXT,
  "player2_team_city" TEXT,
  "player2_team_nickname" TEXT,
  "player2_team_abbreviation" TEXT,
  "person3type" REAL,
  "player3_id" TEXT,
  "player3_name" TEXT,
  "player3_team_id" TEXT,
  "player3_team_city" TEXT,
  "player3_team_nickname" TEXT,
  "player3_team_abbreviation" TEXT,
  "video_available_flag" TEXT
)
Examples:
('0029600342', 1, 10, 0, 1, '11:39 PM', '12:00', 'Jump Ball Mourning vs. Ostertag: Tip to Stockton', None, None, None, None, 4.0, '297', 'Alonzo Mourning', '1610612748.0', 'Miami', 'Heat', 'MIA', 5.0, '731', 'Greg Ostertag', '1610612762.0', 'Utah', 'Jazz', 'UTA', 5.0, '304', 'John Stockton', '1610612762.0', 'Utah', 'Jazz', 'UTA', '0')
('0020000752', 380, 10, 0, 4, '6:22 AM', '8:35', 'Jump Ball Williamson vs. Walker: Tip to Anderson', None, None, None, None, 4.0, '722', 'Corliss Williamson', '1610612761.0', 'Toronto', 'Raptors', 'TOR', 5.0, '955', 'Samaki Walker', '1610612759.0', 'San Antonio', 'Spurs', 'SAS', 5.0, '1507', 'Derek Anderson', '1610612759.0', 'San Antonio', 'Spurs', 'SAS', '0')

Table:
CREATE TABLE "player" (
"id" TEXT,
  "full_name" TEXT,
  "first_name" TEXT,
  "last_name" TEXT,
  "is_active" INTEGER
)
Examples:
('78475', 'Nick Weatherspoon', 'Nick', 'Weatherspoon', 0)
('452', 'Vin Baker', 'Vin', 'Baker', 0)

Table:
CREATE TABLE "team" (
"id" TEXT,
  "full_name" TEXT,
  "abbreviation" TEXT,
  "nickname" TEXT,
  "city" TEXT,
  "state" TEXT,
  "year_founded" REAL
)
Examples:
('1610612763', 'Memphis Grizzlies', 'MEM', 'Grizzlies', 'Memphis', 'Tennessee', 1995.0)
('1610612741', 'Chicago Bulls', 'CHI', 'Bulls', 'Chicago', 'Illinois', 1966.0)

Table:
CREATE TABLE "common_player_info" (
"person_id" TEXT,
  "first_name" TEXT,
  "last_name" TEXT,
  "display_first_last" TEXT,
  "display_last_comma_first" TEXT,
  "display_fi_last" TEXT,
  "player_slug" TEXT,
  "birthdate" TIMESTAMP,
  "school" TEXT,
  "country" TEXT,
  "last_affiliation" TEXT,
  "height" TEXT,
  "weight" TEXT,
  "season_exp" REAL,
  "jersey" TEXT,
  "position" TEXT,
  "rosterstatus" TEXT,
  "games_played_current_season_flag" TEXT,
  "team_id" INTEGER,
  "team_name" TEXT,
  "team_abbreviation" TEXT,
  "team_code" TEXT,
  "team_city" TEXT,
  "playercode" TEXT,
  "from_year" REAL,
  "to_year" REAL,
  "dleague_flag" TEXT,
  "nba_flag" TEXT,
  "games_played_flag" TEXT,
  "draft_year" TEXT,
  "draft_round" TEXT,
  "draft_number" TEXT,
  "greatest_75_flag" TEXT
)
Examples:
('2586', 'Keith', 'Bogans', 'Keith Bogans', 'Bogans, Keith', 'K. Bogans', 'keith-bogans', '1980-05-12 00:00:00', 'Kentucky', 'USA', 'Kentucky/USA', '6-5', '215', 11.0, '4', 'Guard-Forward', 'Inactive', 'N', 1610612753, 'Magic', 'ORL', 'magic', 'Orlando', 'keith_bogans', 2003.0, 2013.0, 'Y', 'Y', 'Y', '2003', '2', '43', 'N')
('202364', "Da'Sean", 'Butler', "Da'Sean Butler", "Butler, Da'Sean", 'D. Butler', 'dasean-butler', '1988-01-25 00:00:00', 'West Virginia', 'USA', 'West Virginia/USA', '6-7', '230', 1.0, '1', 'Forward', 'Inactive', 'N', 1610612759, 'Spurs', 'SAS', 'spurs', 'San Antonio', "da'sean_butler", 2010.0, 2010.0, 'Y', 'N', 'N', '2010', '2', '42', 'N')

Table:
CREATE TABLE "team_details" (
"team_id" TEXT,
  "abbreviation" TEXT,
  "nickname" TEXT,
  "yearfounded" REAL,
  "city" TEXT,
  "arena" TEXT,
  "arenacapacity" REAL,
  "owner" TEXT,
  "generalmanager" TEXT,
  "headcoach" TEXT,
  "dleagueaffiliation" TEXT,
  "facebook" TEXT,
  "instagram" TEXT,
  "twitter" TEXT
)
Examples:
('1610612747', 'LAL', 'Lakers', 1948.0, 'Los Angeles', 'Crypto.com Arena', 19060.0, 'Jeanie Buss', 'Rob Pelinka', 'Darvin Ham', 'South Bay Lakers', 'https://www.facebook.com/losangeleslakers', 'https://instagram.com/lakers', 'https://twitter.com/Lakers')
('1610612749', 'MIL', 'Bucks', 1968.0, 'Milwaukee', 'Fiserv Forum', 17500.0, 'Wesley Edens &\xa0Marc Lasry', 'Jon Horst', 'Adrian Griffin', 'Wisconsin Herd', 'https://www.facebook.com/milwaukeebucks', 'https://instagram.com/bucks', 'https://twitter.com/Bucks')

Table:
CREATE TABLE "team_history" (
"team_id" TEXT,
  "city" TEXT,
  "nickname" TEXT,
  "year_founded" INTEGER,
  "year_active_till" INTEGER
)
Examples:
('1610612739', 'Cleveland', 'Cavaliers', 1970, 2019)
('1610612746', 'San Diego', 'Clippers', 1978, 1983)

Table:
CREATE TABLE "draft_history" (
"person_id" TEXT,
  "player_name" TEXT,
  "season" TEXT,
  "round_number" INTEGER,
  "round_pick" INTEGER,
  "overall_pick" INTEGER,
  "draft_type" TEXT,
  "team_id" TEXT,
  "team_city" TEXT,
  "team_name" TEXT,
  "team_abbreviation" TEXT,
  "organization" TEXT,
  "organization_type" TEXT,
  "player_profile_flag" TEXT
)
Examples:
('203524', 'Solomon Hill', '2013', 1, 23, 23, 'Draft', '1610612754', 'Indiana', 'Pacers', 'IND', 'Arizona', 'College/University', '1')
('79842', 'Jim Scott', '1955', 0, 0, 0, 'Draft', '1610612747', 'Minneapolis', 'Lakers', 'MNL', 'West Texas A&M', 'College/University', '0')

In [2]:
data_extracted = [
    ('dataset/NBA_Player_Box_Score_Stats.csv', 'player_box_score'), 
    ('dataset/NBA_Player_Stats.csv', 'player_stats')
]

sql_data_path = "dataset/nba_players.sqlite"
sql.create_db_from_csv(sql_data_path, data_extracted)
print_output = sql.print_db_structure(sql_data_path, 2)

with open("structure/player_data_structure.txt", "w") as file:
    file.write(print_output)

C:\Users\Matteo\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

ValueError: Table 'player_box_score' already exists.